.has-review {
  border: 2px solid lightgreen;
}

.has-review::before {
  content: "Your review:";
  color: green
}

.reviews .radio,
.reviews .label {
  color: #efefef
}

#text {
  min-height: 280px;
}
